*
*/*

!.gitignore
!readme.txt
!data.txt
!Cargo.toml
!Cargo.lock
!Rocket.toml
!src
!src/**
!app
!app/**
!rust-toolchain
!default-avatar.png
!Procfile
!app.json
!gource.sh
!avatars
!avatars/**
!gource.txt
