.App{
  border: 2px solid black;
}

.nopadding {
  padding-left: 0px;
}



/*CSS For the Login Page*/
.Login {
  margin-top: 25vh;
}

.Login .text-muted button {
  color: rgb(0, 119, 255);
  cursor: pointer;
  background-color: white;
  border: none;
}

.Login img {
  width: 128px;
}

/*CSS For the Sidebar*/
.sidebarPadding {
  margin-left: -30px;
}

.sidebar {
  height: 100vh;
  width: 80px;
  text-align: left;
  background-color: #202a55;
}

.sidebar img {
  width: 64px;
  margin-left: -8px;
  padding: 8px 0px 0px 0px;
  cursor: pointer;
}

.sidebar .image:hover {
  background-color:  rgba(0, 189, 189, 0.356);
}

.sidebar .hozLine {
  background-color: #eeeeee;
  height: 1.5px;
  border-radius: 10em;
}

/*CSS For Settings' Screen*/
.topPad {
  padding-top: 50px;
}