.privacyPolicy {
  font-family: 'Ubuntu', sans-serif;
}

.App{
  border: 2px solid black;
  font-family: 'Ubuntu', sans-serif;
}

.nopadding {
  padding-left: 0px;
}



/*CSS For the Login Page*/
.Login {
  margin-top: 25vh;
  font-family: 'Ubuntu', sans-serif;
}

.Login .text-muted button {
  color: rgb(0, 119, 255);
  cursor: pointer;
  background-color: white;
  border: none;
}

.Login img {
  width: 128px;
  height: 128px;
}

.noDisplay {
  display: none;
}

.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3a3a3a; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}





/*CSS For the Sidebar*/
.sidebarPadding {
  margin-left: -30px;
  z-index: 500;
}

div Sidebar {
  display: flex;
}

.noFlex {
  flex-wrap: unset;
}

.sidebar {
  height: 100vh;
  max-height: 100vh;
  overflow: auto;
  overflow-x: hidden;
  width: 80px;
  text-align: left;
  background-color: #202a55;
}

/* Sidebar Scollbar */
  .sidebar::-webkit-scrollbar {
    width: 0px;               /* width of the entire scrollbar */
  }






.sidebar img {
  width: 64px;
  margin-left: -8px;
  padding: 8px 0px 0px 0px;
  cursor: pointer;
  
}

.sidebar .image:hover {
  filter: opacity(0.5) drop-shadow(0 0 0 #FFFFFF) drop-shadow(0 0 0 #FFFFFF) drop-shadow(0 0 0 #FFFFFF);
}

.sidebar .hozLine {
  background-color: #eeeeee;
  height: 1.5px;
  border-radius: 10em;
  margin-bottom: 0px;
}

.groupButton {
  border: none;
  margin: 10px auto 0 auto;
  width: 55px;
  height: 55px;
  background-color: #eeeeee;
  cursor: pointer;
  text-align: center;
  line-height: 55px;
  border-radius: 20px;
  font-family: 'Ubuntu', sans-serif;
  font-size: large;
}

  .groupButton:hover {
    -webkit-transition: border-radius 0.2s;
    transition: border-radius 0.2s;
    border-radius: 10px;
    
  }

  /* Button Colours */
  .groupButton.red {
    background-color: #ffb4b4;
  }
  .groupButton.orange {
    background-color: #ffd6b4;
  }
  .groupButton.yellow {
    background-color: #feffb4;
  }
  .groupButton.green {
    background-color: #c1ffb4;
  }
  .groupButton.blue {
    background-color: #b4dbff;
  }
  .groupButton.purple {
    background-color: #ffb4f5;
  }
  .groupButton.Settings {
    background-color: #cccccc;
  }
  .groupButton.bottom {
    margin-bottom: 200px;
  }

#button-tooltip {
  font-size: large;
  font-weight: 400;
  font-family: 'Ubuntu', sans-serif;
  margin-left: 13px;
}




/*CSS For Settings' Screen*/
.topPad {
  padding-top: 50px;
}




/*CSS For Group Screen*/
.navigation {
  background-color: #eeeeee;
  margin-left: -30px;
  height: 100vh;
  font-family: 'Ubuntu', sans-serif;
}

.group p span {
  color: #ff0000;
}

.group p blue {
  color: #1100ff;
}